.button {
  border-radius: var(--mantine-radius-xl);
  background-color: var(--mantine-color-body);
  &:hover {
    background-color: var(--mantine-color-default-hover);
  }
}

.mobileButton {
  background-color: var(--mantine-color-body);
  &:hover {
    background-color: var(--mantine-color-default-hover);
  }
}