.button {
  border-radius: var(--mantine-radius-xl);
  background-color: var(--mantine-color-white);
  &:hover {
    background-color: light-dark(
      var(--mantine-color-dark-5),
      var(--mantine-color-gray-0)
    );
  }
}

.mobileButton {
  background-color: var(--mantine-color-white);
  &:hover {
    background-color: light-dark(
      var(--mantine-color-dark-5),
      var(--mantine-color-gray-0)
    );
  }
}